<div class="container-fluid">
  <div class="float-right">
    <!-- navigate to create component on click -->
    <a class="btn btn-link " (click)="showNewShows()"><span class="fa fa-plus">Add New Series</span></a>
    <span class="badge badge-pill badge-info" *ngIf="this.shows.length != 0">{{this.shows.length}}</span>
  </div>
  <div class="float-right">
    <!-- navigate to filter component on click -->
    <a class="btn btn-link" (click)="appComponent.toggleFilter()">
      <span class="fa fa-filter" *ngIf="!appComponent.filterEnabled">Filter</span>
      <span class="fa fa-filter" *ngIf="appComponent.filterEnabled">Stop Filtering</span>
    </a>
  </div>
  <table class="table table-striped">
    <tr>
      <th>
        <div class="form-group">
          <label class="control-label">Image</label>
        </div>
      </th>
      <th>
        <div class="form-group">
          <label class="control-label" (click)='sortList("name")'><span *ngIf="sortToggle.name != 0"
              [class]="sortToggle.name == 1? 'fa fa-angle-up': 'fa fa-angle-down'"></span>Name</label>
        </div>
      </th>
      <th>
        <div class="form-group">
          <label class="control-label" (click)='sortList("status")'><span *ngIf="sortToggle.status != 0"
              [class]="sortToggle.status == 1? 'fa fa-angle-up': 'fa fa-angle-down'"></span>Status</label>
        </div>
      </th>
      <th>
        <div class="form-group">
          <label class="control-label">Previous Episode</label>
        </div>
      </th>
      <th>
        <div class="form-group">
          <label class="control-label">Previous Episode Name</label>
        </div>
      </th>
      <th>
        <div class="form-group">
          <label class="control-label" (click)='sortList("previousEpisodeAirdate")'><span
              *ngIf="sortToggle.previousEpisodeAirdate != 0"
              [class]="sortToggle.previousEpisodeAirdate == 1? 'fa fa-angle-up': 'fa fa-angle-down'"></span>Previous
            Episode Date</label>
        </div>
      </th>
      <th>
        <div class="form-group">
          <label class="control-label">Next Episode</label>
        </div>
      </th>
      <th>
        <div class="form-group">
          <label class="control-label">Next Episode Name</label>
        </div>
      </th>
      <th>
        <div class="form-group">
          <label class="control-label" (click)='sortList("nextEpisodeAirdate")'><span
              *ngIf="sortToggle.nextEpisodeAirdate != 0"
              [class]="sortToggle.nextEpisodeAirdate == 1? 'fa fa-angle-up': 'fa fa-angle-down'"></span>Next Episode
            Date</label>
        </div>
      </th>
      <th>
        <div class="form-group">
          <label class="control-label">Season List</label>
        </div>
      </th>
      <th>
        <div class="form-group">
          <label class="control-label">Wiki List</label>
        </div>
      </th>
      <th>
        <div class="form-group">
          <label class="control-label">On Download Today</label>
        </div>
      </th>
      <th>
        <div class="form-group">
          <label class="control-label">Delete Series</label>
        </div>
      </th>
    </tr>
    <tr *ngIf="appComponent.filterEnabled"></tr>
    <tr *ngIf="appComponent.filterEnabled">
      <th></th>
      <th>
        <div class="form-group">
          <input class="form-control" [(ngModel)]="seriesName" type="text">
        </div>
      </th>
      <th colspan="4">
        <div class="form-group">
          <label class="control-label">Previous Episode Start Date</label>
          <input type="date" class="form-control" [(ngModel)]="previousSeriesStartDate">
        </div>
        <div class="form-group">
          <label class="control-label">Previous Episode End Date</label>
          <input type="date" class="form-control" [(ngModel)]="previousSeriesEndDate">
        </div>
        <span class="error" *ngIf="previousSeriesStartDate>previousSeriesEndDate">
          Min > Max makes little sense
        </span>
      </th>
      <th colspan="5">
        <div class="form-group">
          <label class="control-label">Next Episode Start Date</label>
          <input type="date" class="form-control" [(ngModel)]="nextSeriesStartDate">
        </div>
        <div class="form-group">
          <label class="control-label">Next Episode End Date</label>
          <input type="date" class="form-control" [(ngModel)]="nextSeriesEndDate">
        </div>
        <span class="error" *ngIf="nextSeriesStartDate>nextSeriesEndDate">
          Min > Max makes little sense
        </span>
      </th>
      <th colspan="2">
        <!-- Option to select Dowlodable today -->
        <select id="isActiveFilter" [(ngModel)]="isDownloadableToday">
          <option selected value="-1">All</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </th>
    </tr>
    <ng-container
      *ngFor="let series of (seriesDetails|SeriesFilterPipe:seriesName:previousSeriesStartDate:previousSeriesEndDate:nextSeriesStartDate:nextSeriesEndDate:isDownloadableToday:appComponent.filterEnabled);let seriesIndex = index">
      <tr>
        <td><img src="{{seriesImageList[series.id]}}" height="100" /></td>
        <td>{{series.name}}</td>
        <td>{{series.status}}</td>
        <td>
          <ng-container *ngIf='series.previousEpisodeNumber'>S {{series.previousEpisodeSeason}} E
            {{series.previousEpisodeNumber}}</ng-container>
        </td>
        <td>{{series.previousEpisodeName}}</td>
        <td>{{series.previousEpisodeAirdate}}</td>
        <td>
          <ng-container *ngIf='series.nextEpisodeNumber'>S {{series.nextEpisodeSeason}} E
            {{series.nextEpisodeNumber}}</ng-container>
        </td>
        <td>{{series.nextEpisodeName}}</td>
        <td>{{series.nextEpisodeAirdate}}</td>
        <td>
          <!-- toggle button for collapsing series seasons -->
          <button data-toggle="collapse" attr.data-target="#series_season_{{series.id}}"
            (click)="toggleSeasonCollapseIcon(series.id)">
            <span [class]="seasonToggleClicked[series.id] ? 'fa fa-angle-up': 'fa fa-angle-down'"></span>
          </button>
        </td>
        <td>
          <!-- toggle button for collapsing series wiki -->
          <button data-toggle="collapse" attr.data-target="#series_wiki_{{series.id}}"
            (click)="toggleWikiCollapseIcon(series.id,series.name)">
            <span [class]="wikiToggleClicked[series.id] ? 'fa fa-angle-up': 'fa fa-angle-down'"></span>
          </button>
        </td>
        <td>
          <a *ngIf='series.onDownloadToday'
            href='{{appComponent.getDownloadLink(series.name,series.previousEpisodeSeason,series.previousEpisodeNumber)}}'
            target="_blank"><span class='fa fa-download'></span></a>
        </td>
        <td>
          <button (click)="confirmDeletion(series.name, series.id)">
            <span class='fa fa-trash'></span>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="13">
          <div id="series_wiki_{{series.id}}" class="collapse">
            <table class="table table-bordered table-hover table-sm">
              <tr *ngFor="let wiki of seriesWikiList[series.id]">
                <th><a href="{{wiki}}" target="_blank">{{wiki}}</a></th>
              </tr>
            </table>
          </div>
          <div id="series_season_{{series.id}}" class="collapse">
            <table class="table table-bordered table-hover table-sm">
              <tr>
                <th>Season</th>
                <th></th>
              </tr>
              <ng-container *ngFor="let season of seriesSeasonList[series.id];">
                <tr>
                  <td>{{season.number}}</td>
                  <td>
                    <!-- toggle button for collapsing season episodes -->
                    <button data-toggle="collapse" attr.data-target="#series_episode_{{season.id}}"
                      (click)="toggleEpisodeCollapseIcon(series.id, season.id)">
                      <span [class]="episodeToggleClicked[season.id] ? 'fa fa-angle-up': 'fa fa-angle-down'"></span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td colspan="12">
                    <div id="series_episode_{{season.id}}" class="collapse">
                      <table class="table table-bordered table-hover table-sm">
                        <tr>
                          <th>Episode</th>
                          <th>Name</th>
                          <th>Airdate</th>
                          <th></th>
                        </tr>
                        <ng-container *ngIf="seriesEpisodeList[season.id] != undefined">
                          <tr *ngFor="let episode of seriesEpisodeList[season.id];">
                            <td>{{episode.number}}</td>
                            <td>
                              <a href="{{appComponent.getDownloadLink(series.name,season.number,episode.number)}}"
                                target="_blank">{{episode.name}}</a>
                            </td>
                            <td>{{episode.airdate}}</td>
                          </tr>
                        </ng-container>
                      </table>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
        </td>
      </tr>
    </ng-container>
  </table>
</div>